<tr onclick="document.location = '#abrirModalDispositivo';">

        <td><%= id %> </td>
        <td><%= nome %> </td>
        <td><%= tipo %> </td>
        <td><%= modelo %> </td>
        <td><%= descricao %> </td>
  
</tr>
