<div class="navbar">
    <div class="logo">
        <img src="<%= logo %>" alt="Logotipo do site" class="logo">
    </div>
    <div class="icons">
        <a href="<%= link1 %>" id="link1" class="active">
            <img src="<%= icon1 %>" alt="<%= descricao1 %>">
        </a>
        <a href="<%= link2 %>" id="link2">
            <img src="<%= icon2 %>" alt="<%= descricao2 %>">
        </a>
    </div>
    <div class="exit">
        <a href="/">Sair</a>
    </div>
</div>