<!-- modais do CRUD do usuário -->

<div id="abrirModalCadUser" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
        <%- include('../partials/mod-user-cad')%>
    </div>
</div>

<div id="abrirModalUpdateUser" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
        <%- include('../partials/mod-user-update')%>
    </div>
</div>

<!-- modais do CRUD de versão do CLP -->

<div id="abrirModalCadClpVersion" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
        <%- include('../partials/cad-new-clp-version')%>
    </div>
</div>

<div id="abrirModalUpdateClpVersion" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
        <%- include('../partials/update-new-clp-version')%>
    </div>
</div>

<!-- modais do CRUD do CLP -->

<div id="abrirModalDispositivo" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
        <%- include('../partials/disp-clp')%>
    </div>
</div>

