<div id="abrirModalDispositivo" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../lab-clp/disp-clp')%>
    </div>
</div>
<div id="abrirModalCadUser" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../partials/user-cad')%>
    </div>
</div>
<div id="abrirModalUpdateUser" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../partials/user-update')%>
    </div>
</div>
<div id="abrirModalCadClpVersion" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../partials/cad-new-clp-version')%>
    </div>
</div>
</div>
<div id="abrirModalUpdateClpVersion" class="modal">
    <div>
        <a href="#fechar" title="Fechar" class="fechar">x</a>
    <%- include('../partials/update-new-clp-version')%>
    </div>
</div>