<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RemoteLab | Usuário</title>
     <!-- CSS GERAL-->
     <%- include('../partials/css-basic')%>
     <!-- CSS INDIVIDUAL -->
    <link rel="stylesheet" href="/lab-fpga/css/user-fpga.css">
    <link rel="stylesheet" href="/general/css/partials/user-card.css">
    <link rel="stylesheet" href="/general/css/partials/lab-card.css">
    <link rel="stylesheet" href="/general/css/partials/table-line.css">
    <link rel="stylesheet" href="/general/css/partials/resp-user-card.css">
    <link rel="stylesheet" href="/lab-fpga/css/responsivity/resp-user-fpga.css">
</head>
<body>
    <section>



        <%- include('../partials/navbar', {logo: "/lab-fpga/img/logo-lab-fpga.svg", link1: "#", icon1: "/public/general/img/trail-icon.svg", descricao1: "Ícone de trilha de aprendizagem", link2: "#", icon2: "/general/img/icons/settings-icon.svg",  descricao2: "Ícone de configuração dos dados do usuário", class1: "active", class2: "active"}) %>

        <div class="data">
            <div class="user-data" data-anime="up">
                <%- include('../partials/user-card', {image: "/general/img/user-image-example.png", name: "Nome do usuário", email: "email@super.ufam.edu.br"})%>
            </div>
            <div class="table-diagrams" data-anime="up">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Nome do diagrama
                            </th>
                            <th>
                                Última modificação
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('../partials/table-line', {icon: "/general/img/icons/program-icon.svg", iconDesc:"Ícone da codificação", linkDiagram: "/program", nameDiagram: "Código 1", lastDateDiagram: "30/10/2021"})%>
                        <%- include('../partials/table-line', {icon: "/general/img/icons/program-icon.svg", iconDesc:"Ícone da codificação", linkDiagram: "/program", nameDiagram: "Código 2", lastDateDiagram: "31/10/2021"})%>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/general/js/animations/load.js"></script>
        <script src="/general/js/navbar.js"></script>
        <script src="/general/js/auth-user.js"></script>
        <script src="/general/js/user.js"></script>
    </section>
    
</body>
</html>